{{! TODO We shouldn't use `api.user.name` directly? Ehh... Why not... Maybe... !}}

<h1>Hi! My name is {{api.user.name}} and my blog is called {{api.blogs.blogName}}.</h1>
<p>PS, the name of the Controller used to develop this data was <strong>{{ctrlName}}</strong>.</p>
